<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smu.sunmoonbus">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Although the *SdkVersion is captured in gradle build files, this is required for non gradle builds -->
    <!-- <uses-sdk android:minSdkVersion="14"/> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sunmoonbus"
        android:label="선문대학교 셔틀버스"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_sunmoonbus_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="b4a6fab021104552ca5a029ba114d841" />

        <activity android:name=".MapActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FindPwActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignUpActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".TaggingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ShuttleDriverActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>